name: Test Python Tools

on:
    pull_request:
        paths:
            - "tools/python/**"
    workflow_dispatch:

jobs:
    unittest:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Run unit tests
              run: python -m unittest discover -s tools/python/tests -p "test_*.py"
